* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-size: 62.5%;
    
}
html {

}

nav {
    width: 100%;
    height: 10vh;
    padding: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* background-color: yellow; */
}
nav ul {
    /* background-color: red; */

    margin: 0;
    list-style: none;
    display: flex;
    /* width: 80%; */
    height: 100%;
    justify-content: center;
    align-items: center;
}
nav li {
    font-size: 2.2rem;
    letter-spacing: .1rem;
    /* background-color: blue; */
    margin: 20px;
}
nav li a {
    color: black;
    font-weight: bold;
    text-decoration: none;
}
main {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100vw;
    height: fit-content;
    padding: 10rem;
    background-color: orchid;
}
.left-main {
    background-color: palegreen;
    width: 70%;
    padding: .5rem;
}
.right-main {
    width: 20%;
    min-height:100vh;
    background-color: aqua;
    padding: .5rem;
}
.menu-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background-color: blueviolet;
    cursor: pointer;

}
.menu-btn.active .line.two {
    transform: translateX(-50px);
}
.menu-btn.active .line.one {
    transform: rotate(45deg) translateX(35px, -35px);
}
.line {
    transition: ease-in-out .5s;
    width: 100%;
    height: 5px;
    background-color: black;
    border-radius: 100px;
    margin: 2px;
}
#top-title-img-container {
    width: 100vw;
    background-color: lightgoldenrodyellow;
    padding-left: 10rem;
}
#top-title-img-container .container {    
    padding-right: 10rem;
}
#title-txt {
    margin: 0;
    padding: .5rem;
    font-family: 'Montserrat', sans-serif;
}
.main-img {
    width: 70%;
    height: 350px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}

.step {
    width: 100%;
    justify-content: left;
}
h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3.2rem;
    margin: 2.5rem;
}
h2 {
	font-size: 2.4rem;
}
h3 {
	font-size: 1.872rem;
}
h4 {
	font-size: 1.6rem;
}
h5 {
	font-size: 1.328rem;
}
h6 {
	font-size: 1.072rem;
}
footer {
    background-color: slategray;
    width: 100%;
    height: 20vh;
}

p {
    font-size: 1.6rem;
    font-family: 'Poppins', sans-serif;
    letter-spacing: .02rem;
    

}

