* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-size: 62.5%;
}

:root {
    --body-color: #f1f1f1;
    --p-color: #fff;
    --shadow-color: rgba(66, 66, 67, .2);
    --l-black: rgb(32, 32, 32);
    ---dropdown-color: #f7f7f7;
    --l-gray-color: #dbdbdb;

}

body {
    background-color: var(--body-color);
}

#total-container {
    overflow-x: hidden;

}

nav {
    /* background-color: rgb(38, 57, 75); */
    /* background-image: linear-gradient(rgb(17, 17, 17), rgb(65, 65, 65)); */
    /* background-color:beige; */
    /* background-color:ghostwhite; */
    /* background-color:snow; */
    width: 100%;
    height: 10vh;
    padding: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
    position: relative;
    /* background-color: yellow; */
}

nav ul {
    /* background-color: red; */
    list-style: none;
    display: flex;
    width: 50%;
    height: 100%;
    justify-content: center;
    align-items: center;

}

nav ul.active {
    transform:translateX(0%);
}

.nav-li {
    margin: 20px;
}

.nav-a{
    /* font-family: 'Roboto', sans-serif; */
    /* font-family: 'Times New Roman', Times, serif; */
    cursor: pointer;
    color: rgb(31, 31, 31);
    /* color: #f8f8f8; */
    font-size: 1.6rem;
    line-height: 1.6;
    font-weight: 600;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    /* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
}

.logo-name h4 {
    letter-spacing: 5px;
    font-size: 18px;
    color: var(--l-black);
    /* color: #fff; */
    
}

.logo-name a {
    text-decoration: none;
}

.guides-container {
    position: relative;
}

.rm-dd {
    background-color: var(---dropdown-color);
    box-shadow: var(--shadow-color) 0px 0px 4px;
    border-radius: 5px;
    min-width: fit-content;
    height: fit-content;
    position: absolute;
    left:0px;
    top:100%;
    font-size: 2.2rem;
    display: block;
    display: none;
    transform: translateY(-5px);
    white-space: nowrap;

}
.guides-container:hover .rm-dd {
    display: block;
    /* background-color: var(---dropdown-color); */

    transform: translateY(0px);

}
.dd-link {
    font-family: 'Poppins', sans-serif;
    /* letter-spacing: 2px; */
    font-size: 14px;
    font-weight: 600;
    border-radius: 5px;
    display: block;
    text-decoration: none;
    color: var(--l-black);
    padding: 14px;
    /* width: 100%; */
    height: 100%;
}
.rm-dd a:hover {
    transition: all ease-in .25s;
   background-color: var(--l-gray-color);
}


main {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100vw;
    height: fit-content;
    padding: 10rem;
    /* background-color: orchid; */
}
.container.top {
    width: 70%;
    /* padding: 1.5rem; */
}
.left-main {
    background-color: var(--p-color);
    /* box-shadow: 0px 0px 4px var(--shadow-color); */
    box-shadow: var(--shadow-color) 0px 0px 4px;

    width: 70%;
    padding: 16px;
}

.right-main {
    width: 20%;
    min-height:100vh;
    background-color: var(--body-color);
    box-shadow: var(--shadow-color) 0px 0px 4px;
    padding: 16px;
     
}

#related-articles {
    font-size: 1.6rem;
    font-weight: bold;
    margin-bottom: 20px;

}

.related-articles-ul {
    list-style: none;
    background-color: var(--p-color);
    /* font-size: 3.2rem; */
}

.related-articles-ul li {

}

.related-articles-ul li a {
    color: var(--l-black);

}

.img-txt-container {
    max-width: 100%;
}
.img-txt-container img {
    margin-right: 16px;
    /* margin-right: 16px; */
    /* line-height: 27px;  */

    /* padding: 0px; */
    float: left;
    width: 50%;
    height: 300px;

}

.img-txt-p {
    /* padding: 0 10px; */
    /* background-color: rgb(72, 255, 0); */
    /* text-align:justify; */
}



.default-img-container img {
    /* height: 100%;
    width: 100%; */
}

.menu-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 22px;
    height: 26px;
    /* background-color: blueviolet; */
    cursor: pointer;
    display: none;
}

.theme-btn {
    cursor: pointer;
    display: flex;
    justify-content: space-around;
    padding: .25rem;
    align-items: center;
    background: none;
    border: none;
    background-color: #ffffff;
    box-shadow: 1px 1px 1px rgba(68, 68, 68, 0.4);
    /* width: 42   px; */
    /* height:25px; */
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;

}

.theme-btn.active {
    flex-direction: row-reverse;
}

.inside-theme-btn-des {
    width: 22px;
    height: 22px;
    box-shadow: 1px 1px 1px rgba(68, 68, 68, 0.4);
    border-radius: 50%;
    background-color: #777777;
}

 
.theme-icon.dark {
    content: url(/icons/moonIC.svg);
}
/* .menu-btn.active {
    display: block;
} */
.menu-btn.active .line.two {
    transform: translate(-3px);
    background: transparent;
    visibility: hidden;

}

.menu-btn.active .line.one {
    transform: rotate(45deg) translate(5px, 5px);
}

.menu-btn.active .line.three {
    transform: rotate(-45deg) translate(5px, -5px);
}

.line {
    transition: ease-in-out .5s;
    width: 22px;
    height: 3px;
    /* background-color: rgb(24, 24, 24); */
    /* color: #f8f8f8; */
    background-color: var(--l-black);
    border-radius: 5px;
    box-shadow: 1px 1px 1px rgba(61, 61, 61, .4);
    margin: 4px;
}

#top-title-img-container {
    margin: 20px 0px;
    width: 100vw;
    padding: 0 10rem;
}

.top-title-img-container-inner {
    width: 100%;
    height: 100%;
}


#title-txt {
    /* margin-bottom: 20px; */
    font-size: 3.0rem;
    padding: 20px 0;

    /* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
    font-family: sans-serif;
    color: rgba(0,0,0, .7)
}

.main-img {
    
    height: 400px; 
    width: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}

.step {
    width: 100%;
    justify-content: left;
}

h1 {
    /* font-family: Arial, Helvetica, sans-serif; */
    font-size: 3.2rem;
    line-height: 1.6;
    font-weight: bolder;
    /* margin: 2.5rem; */
}

h2 {
	font-size: 2.4rem;
    line-height: 1.6;

}

h3 {
	font-size: 1.872rem;
    line-height: 1.6;

}

h4 {
	font-size: 1.6rem;
    line-height: 1.6;

}

h5 {
	font-size: 1.328rem;
    line-height: 1.6;

}

h6 {
	font-size: 1.072rem;
    line-height: 1.6;

}

h2, h3, h4, h5, h6 {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: rgba(0,0,0, .7);
    margin: 20px 0px;
}

footer {
    background-color:rgb(70, 70, 70);

    background-color: slategray;
    width: 100%;
    height: 20vh;
}

p {
    font-size: 1.6rem;
    /* font-family: 'Times New Roman', Times, serif; */
    font-family: Arial, Helvetica, sans-serif;
    /* color: rgb(20, 34, 34); */
    color: #1b1b1b;
    letter-spacing: .025rem;
    line-height: 1.6;
    word-spacing: 0.0288px;
    font-weight: 400;
    }
.article-links-bottom-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 100vw;
    height: fit-content;
    padding: 10rem;
    
}

.article-heading-bottom {
 
}

.links-container-bottom {
   /* padding: 2px; */
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   grid-gap: 10px;
   max-width: 70%;
   height: 100%;    
}

.small-article-container {
    text-decoration: none;
    padding: .5rem;
    display: flex;
    height: 80px;
    background-color: var(--p-color);
    box-shadow: var(--shadow-color) 0px 0px 2px;
}
.small-article-container:hover {
    background-color: var(--l-gray-color);
}

.links-container-inside {
    /* background-color: pink; */
    /* padding: .5rem; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.article-img-bottom {
    margin-right: .25rem;
    width: 70px;
    height: 70px;
}

.article-txt-container {
    /* background-color: rgb(43, 41, 44); */
    padding: 0 .5rem;
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
}

.article-txt-bottom {
    overflow: hidden;
    font-size: 1.4rem;

}

.article-txt-bottom-heading {
    width: 100%;
    margin: 0rem;

}

.fake-ad-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:red;
}

.fake-ad {
    width:150px; height:150px; background-color:black;

}

.affiliate-link-txt {
    font-size: 1.2rem;
    width: 80%;
    height: 150px;
    background-color: cyan;
}

@media screen and (max-width:1024px) {
   body {
    background-color: darkmagenta;
   }
    .links-container-bottom {
        /* padding: 2px; */
        /* display: grid; */
        /* grid-template-rows: 1fr 1fr 1fr; */
        /* grid-gap: 10px; */
        /* justify-content: flex-start; */
        /* grid-template-columns: auto auto; */
        width: 70%;
        height: 100%;
        /* background-color: black; */
         
     }
}

@media screen and (max-width:768px) {
    main {
    /* min-width: 100vw; */
    background-color: red;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    }
    .right-main {
        display: none;
    }

    body {
        /* overflow-x: hidden;
        max-width: 100vw; */
    }
    .menu-btn {
        display: block;
    }
    nav ul {
        width: 50%;
        position: absolute;
        right: 0px;
        top: 100%;
        height: 92vh;
        background-color: var(---dropdown-color);
        box-shadow: var(--shadow-color) -4px 2px 4px;

        display: flex;
        flex-direction: column;
        justify-content: space-around;
        transform:translateX(100%);
        transition: transform cubic-bezier(.86,0,.36,.92) 0.4s;

    }
   
    
    body {
        /* display: none; */
    }
}


